# rebar3
_build/
_checkouts/
.rebar3/
rebar.lock

# IDE
.idea/
*.iml
.vscode/

# Erlang
*.beam
*.plt
erl_crash.dump
*.ez
ebin/*.beam

# Legacy rebar
.rebar
deps/

# Test
.eunit
.concrete/DEV_MODE

# OS
.DS_Store
Thumbs.db
