{erl_opts, [debug_info]}.

{deps, [
    {cowboy, "2.12.0"},
    {jsx, "3.1.0"}
]}.

{shell, [
    {apps, [demo_counter]}
]}.

{relx, [
    {release, {demo_counter, "0.1.0"}, [
        demo_counter,
        sasl
    ]},
    {mode, dev},
    {include_erts, false},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [
            {mode, prod},
            {include_erts, true}
        ]}
    ]}
]}.

%% Hex.pm configuration
{project_plugins, [rebar3_hex, rebar3_ex_doc]}.

{hex, [
    {doc, #{provider => ex_doc}}
]}.

{ex_doc, [
    {source_url, <<"https://github.com/beam-campus/bc-gitops-demo-counter">>},
    {extras, [<<"README.md">>, <<"LICENSE">>]},
    {main, <<"README.md">>}
]}.
